body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #eee;
    margin: 0;
}

#dice-app {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: auto;
    width: 90%;
    max-width: 500px;  /* Ограничиваем максимальную ширину для больших экранов */
}

#dice-type, #dice-count, #modifier {
    margin: 10px 0;
    padding: 10px;
    width: calc(100% - 22px); /* Учитываем padding и border */
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px; /* Увеличиваем размер шрифта для удобства чтения */
}

button {
    background-color: #5C67F2;
    color: white;
    border: none;
    padding: 12px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* Сделаем кнопку на всю ширину */
    box-sizing: border-box;
}

button:hover {
    background-color: #434AB1;
}

#results {
    margin-top: 20px;
    font-size: 18px; /* Увеличиваем размер для лучшей читаемости */
    color: #333;
    word-wrap: break-word; /* Перенос слов для избежания выхода текста за границы */
}

/* Медиа-запросы для маленьких устройств */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }
    #dice-app {
        padding: 10px;
        width: 100%;
        box-shadow: none;
    }
}
